h1{
    font-family: 'Lilita One', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Lilita One', cursive;
    font-size: 32px;
}
h3{
    font-family:'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration-line: underline;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight:300;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.navBarMobile{
    display: none;
}
.navBarDesktop{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}
.navBarCategory{
    padding: 10px;
}
#logo{
    height: 68px;
    width: 68px;
}

.heroImage{
    height: 600px;
    background-image: url("../images/arranged-tools-gardening-soil\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.heroImageText{
  background-image: linear-gradient( to left, rgba(0,0,0,0) 0%, rgba(0,0,0,.54) 35%, rgba(0,0,0,.84) 100% );
  height: 600px;
  display: flex;
  align-items: flex-end;
}
.heroImageTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-left: 50px;
    margin-bottom: 150px;
    width: 1015px;
}

/* Our Staff Section */ 
.ourStaff{
    background-color: #355E3B;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.staffProfiles{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;
}
.idPhoto{
    width: 293px;
    border-radius: 500px;
}
.idPhotoaCaption{
    width: 293px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.idPhotoaCaption h6{
    margin-top: -35px;
}

/* Board memebers */
.heroImageBoard{
    background-image: url("../images/OurBoard_Background.png");
    background-repeat: no-repeat;
    background-size: cover;  
}
.blackDrop{
    background-image: linear-gradient( to left, rgba(0,0,0,0) 0%, rgba(0,0,0,.54) 35%, rgba(0,0,0,.84) 100% );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 100px;
    padding-bottom: 150px;
    padding-top: 150px;
}
.boardMembers{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px;
    margin-bottom: 150px;
    justify-content: center;
}
.indMembers{
    background-color: #98AD39;
    border-radius: 35px;
    width: 407px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.boardTitle{
    font-weight: 300;
}

/* parnters and SPonsers*/
.pNsTitle{
    background-color: #D8E1DE;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 10px;
}
.partnersNsponsers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partner, .sponser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partnerImages, .sponserImages{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 100px;
}
.partnerImages img, .sponserImages img{
    height: 50px;
}

/* Media Section */
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indMedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.indMediaLinks{
    border-radius: 25px;
    background-color: #98AD39;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration-line: underline;
    text-align: center;
}
.indMediaLinks a{
    color: black;
}

/* footer Section */
footer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8E1DE;
}
.footerNavBar{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Donate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .navBarDesktop{
        display: none;
    }
    .navBarMobile{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        align-items: center;
        gap: 10px;
    }
    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo img{
        height: 40px;
    }
    .heroImageTitle{
        font-size: 18px;
        width: 200px;
    }
    .heroImage{
        background-position: 70% 0%;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 16px;
    }
    .idPhoto
    {
        width: 150px;
    }
    .idPhotoaCaption{
        width: 150px;
    }
    .blackDrop{
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .indMembers{
        width: 346px;
    }
    .pNsTitle{
        background-color: white;
    }
    .pNsTitle h3{
        font-weight: 700;
    }
    .indMediaLinks{
        height: 55px;
        width: 322px;
    }
    .indMediaLinks a{
        font-size: 16px;
    }
    .footerNavBar{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }




  }